:root {
    --widthFull: 0px; /*this will be updated in javascript to a dynamicly changing value*/
    --width80: calc(var(--widthFull) * 0.8);
    --width60: calc(var(--widthFull) * 0.6);
    --width20: calc(var(--widthFull) * 0.2);
    --width10: calc(var(--widthFull) * 0.1);

    --rotatorPos: 180deg;
    --rotatorPosOpposite: 180deg;

    --linearAnimationProg: 0px;
    --linearAnimationPercent: 0;

    /* colors */
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --gray: rgb(89, 89, 89);
    --darkCyan: rgb(53, 179, 162);
}

body {
    /* background-color: var(--white); */
    background-image:  linear-gradient(to bottom left, rgb(16, 18, 19), rgb(38, 43, 44));
    overflow-x: hidden;
    margin-bottom: 200px;
    scrollbar-width: none;
}

.noScroll {
    overflow: hidden;
}

.header {
    /* opacity: 0; */
    position: absolute;
    width: var(--width80);
    margin-left: var(--width10);
    height: 75px;
    background-color: darkcyan;

    z-index: 0;

    top: calc(1.35 * var(--linearAnimationProg) - 135px);
}

.header h1 {
    font-size: 24;
    align-self: center;
}




#navBarHolder {
    background-color: rgb(70, 70, 70);
    width: var(--width80);
    height: 40px;
    margin-left: var(--width10);
}

.sticky {
    position: fixed;
    overflow: visible;
    top: 0;
    z-index: 5;
}

.notSticky {
    margin-top: calc(1.35 * var(--linearAnimationProg) - 60px);
}

#navBar {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    background-color: rgb(70, 70, 70);
}

.dropdown:hover {
    background-color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: brown;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0.7;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.dropdown-content:hover {
    background-color: #ddd;
  }

li {
    line-height: 250%;
    color: white;
    float: left;
    text-align: center;
    width: 100px;
    height: 100%;
    margin: 0px;
    border-color: black;
}

#home {
    background-color: cyan;
    color: black;
    border-color: black;
    border-right-style: solid;
    border-right-width: 2px;
}
#cv {
    border-right-style: solid;
    border-right-width: 2px;
    
}
#projects{
    border-right-style: solid;
    border-right-width: 2px;
}

#other {
    float: right;
    border-left-style: solid;
    border-left-width: 2px;
}

#navlink {
    color: white;
    text-decoration: none;
}







.shift {
    margin-top: calc(10% + 115px);
}

.noShift {
    margin-top: calc(135px - 1.35 * var(--linearAnimationProg)  + 10%);
}

#aboutText {
    position: relative;
    width: 50%;
    margin-left: 37%;
}

#AboutTextHolder {
    position: relative;
    width: calc(var(--linearAnimationProg) * 7.00 - 300px);
    /* opacity: calc(var(--linearAnimationPercent) * 0.01); */
    transform: translate(175px, 80px);
    overflow: hidden;
    z-index: 0;
}

#AboutTextHolderSlide {
        color: aqua;
        width: 400px;
        
        /* make text into an image or vector */
}

#Name{
    position: relative;
    text-align: left;
    margin-top: 1%;
}
#aboutBreak{
    color: aqua;
    width: 300px;
    margin-top: -2%;
    margin-left: 3%;
}
#profession {
    margin-top: 1%;
    margin-left: 6%;
}

#aboutTextBody {
    width: 400px;
    left: 5%;
    margin-top: -3.5%;
}

#rotator {
    position: absolute;
    transform: translate(50px, 50px);
    z-index: 5;
}

#portraitImage {
    position: absolute;
    width: 300px;
    height: 300px;

    transform: rotate(var(--rotatorPos)) translateX(calc(var(--linearAnimationProg) * -2));
}

#leftGear {
    position: absolute;
    height: 400px;
    width: 400px;
    margin-bottom: 0%;
    padding-bottom: 0%;

    transform: rotate(var(--rotatorPosOpposite)) translateX(calc(var(--linearAnimationProg) * 3));
}

#rightGear {
    position: absolute;
    margin-top: 0%;
    padding-top: 0%;
    height: 400px;
    width: 400px;

    transform: rotate(var(--rotatorPosOpposite)) translateX(calc(var(--linearAnimationProg) * -3));
}









#main {
    background-color: rgb(58, 58, 58);
    width: var(--width80);
    margin-top: calc(300px - 3.00 * var(--linearAnimationProg) + 26%);
    margin-left: var(--width10);
    margin-bottom: 0px;
}

#entry1{
    background-color: rgb(80, 80, 80);
    overflow: hidden;
}
#entry3 {
    background-color: rgb(80, 80, 80);
    overflow: hidden;
}
#entry2{
    overflow: hidden;
}

.leftText {
    padding-top: 2%;
    padding-bottom: 2%;
}
.leftText div {
    float: left;
    width: 60%;
    margin-left: 5%;
}
.leftText img {
    float: right;
    margin-right: 5%;
}

.rightText{
    padding-top: 2%;
    padding-bottom: 2%;
}
.rightText div{
    float: right;
    width: 60%;
    margin-right: 5%;
}
/*could not get the right class working. this fixed it, but it is not very scalable*/
#mainImg2 {
    margin-left: 5%;
}

.textEntry {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 80%;
    margin-left: 10%;
}
.textEntry h2 {
    text-align: center;
}
.textEntry p {
    text-align: left;
}






#footer {
    background-color:darkcyan;
    position: absolute;
    overflow: hidden;
    width: var(--width80);
    margin-left: var(--width10);
    margin-top: 50px;
    height: 150px;
}
#icon {
    width: 100px;
    height: 100px;
    margin-top: 25px;
    margin-left: 50px;
    background-color: darkgray;
    float: left;
}

.vl {
        border-left: 2px solid rgb(0, 0, 0);
        height: 110px;
        position: absolute;
        margin-left: 200px;
        top: 20px;
        float: left;
}

#contactSection {
    float: left;
    margin-left: 80px;
}

#socialSection {
    float: left;
    margin-left: 80px;
}

#resumeSection {
    float: left;
    margin-left: 80px;
}
